<div class="post-container">
    <div class="post-heading">
        <span><a id="post-title" href="/post/{{id}}">{{post_title}}</a></span><span style="float:right">Posted by {{User.username}}</span><br>
    </div>

    
    <div class="post-body">
        <p>{{post_content}}</p>
    </div>
</div>
<div class="comment-container">
        <div id="blank-header">
        </div>
        <div class="comments">
           <span style="float:left">
        {{#each Comments as |comment|}}
            {{comment.comment_text}}
            -{{User.username}}
        {{/each}}
        </span>
        </div>
    </div>

