{{#each posts as |post|}}

<div class="blog-post-container">
    <h2>
        <a class="post-title" href="/post/{{post.id}}">{{post.title}}</a>
        <p>Posted by: {{post.user_id.username}} on {{created_on}}</p>
    </h2>
    <p>{{post_content}}</p>
</div>
<button type="submit" class="add-post-btn">Create</button>
